.modal-content {
    max-height: 90vh !important;
}

.modal-body .col-lg-8 {
    max-height: 80vh !important;
}

body.darkmode .page-section {
    background-color: #1f2223 !important;
}

body.darkmode .text-secondary {
    color: rgb(188, 209, 227) !important;
}

body.darkmode .divider-custom .divider-custom-icon {
    color: rgb(188, 209, 227) !important;
}

body.darkmode {
    color: #e1ddd6 !important;
}